*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page {
  margin: 0;
  border: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

body {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  background-color: #fff;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-nav {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav {
    width: 100%;
  }
}

.site-nav, .contacts-nav {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .site-nav, .contacts-nav {
    display: flex;
    align-items: baseline;
  }
}

.site-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav__link {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    margin-bottom: 0;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 88px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-bottom: 0;
    margin-left: 93px;
    font-size: 14px;
  }
}

.contacts-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    font-size: 14px;
  }
}

.site-nav__link.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: -1px;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-phone {
  width: 10px;
  height: 16px;
}

.nav-section {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-black {
  color: #212121;
}

.logo-white {
  color: #ffffff;
}

.mobile-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.mobile-button .icon-menu {
  display: none;
}

.mobile-button.is-open .burger-cross {
  display: none;
}

.mobile-button.is-open .icon-menu {
  display: block;
}

.mobile-button:hover .mobile-button__icon,
.mobile-button:focus .mobile-button__icon,
.mobile-button:active .mobile-button__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

.menu-container.is-open {
  display: block;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
    top: 60px;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-section {
    height: 61px;
  }
}

@media screen and (min-width: 768px) {
  .nav-section {
    display: flex;
    align-items: center;
  }
}

.contacts-nav__link,
.contacts-foot__link {
  color: #757575;
}

.contacts-nav {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    padding: 21px 0;
    text-align: left;
  }
}

.contacts-nav__link {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__link {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__item:first-child {
    padding: 0 0 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__item:first-child {
    margin-right: 50px;
  }
}

.contacts-nav__link:hover .contacts-nav__icon {
  fill: #2196f3;
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-foot {
  padding-top: 9px;
}

.contacts-foot li:first-child {
  margin-bottom: 9px;
}

.button-blue {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.order {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0 118px;
  max-width: 1600px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .order {
    padding-top: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .order {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-desktop.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-desktop@2x.jpg);
  }
}

.order__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .order__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.37;
  }
}

.order__btn {
  padding: 10px 32px;
}

.features {
  padding-top: 60px;
}

.feature {
  margin-bottom: 60px;
}

.feature__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    margin-bottom: 0;
  }
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .feature {
    text-align: center;
  }
}

.feature__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
}

.feature__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.feature__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.feature__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.feature__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work-items {
    display: flex;
  }
}

.work-items__card {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.work-items__card:not(:last-child) {
  margin-right: 30px;
}

.work-items__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-items__card {
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-items__card {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-items__card {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-items__card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-items__card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-items__card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-items__card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.team-items__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-items__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-items--wrap {
  padding: 30px 24px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon {
  fill: #ffffff;
}

.customers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
}

.customers__link {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
}

.customers__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.customers__item:nth-last-child(2n+1) {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers .customers__item {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .customers__item:nth-child(3), .customers__item:nth-child(6) {
    margin-right: 0;
  }
  .customers__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers .customers__item {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
  }
  .customers .customers__item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon {
  fill: #2196f3;
}

.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.section-footer {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-footer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    display: flex;
    align-items: baseline;
  }
}

.address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

.join-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join-list {
    margin-bottom: 0;
  }
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-list__item {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe {
  display: block;
  text-align: center;
  margin-right: 0;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__btn {
  display: inline-flex;
  padding: 10px 28px 10px 29px;
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe--flexbox {
    display: flex;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  overflow: auto;
  padding: 93px 15px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  padding: 40px;
  z-index: 9;
  transform: translate(-50%, -50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.is-hidden .modal {
  transform: translate(-50%, -200%);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
}

.form__input:not(:placeholder-shown) + .form__icon {
  fill: #2196f3;
}

.form__comment {
  margin-bottom: 20px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.form__comment:placeholder-shown {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__comment:focus {
  outline: none;
  border-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__checkbox {
  position: relative;
  display: flex;
  vertical-align: baseline;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__agreement-text {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__agreement-text::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__agreement-text::before:focus {
  outline: auto;
}

.form__check-input:checked + .form__agreement-text::before {
  background-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-size: contain;
  border-radius: 2px;
}

.form__link-agreement {
  color: #2196f3;
  display: inline-block;
}

.form__field-submit {
  display: flex;
}

.form__button-submit {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.filter-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-menu {
    margin-bottom: 30px;
    justify-content: center;
  }
}

.filter-menu__item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-menu__item {
    margin-bottom: 0;
  }
}

.filter-menu__item:not(:last-child) {
  margin-right: 8px;
}

.filter-menu__item:nth-last-of-type(-n + 2) {
  margin-bottom: 0;
}

.filter-menu__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-menu__item .filter-menu__btn:hover,
.filter-menu__item .filter-menu__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .work-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.projects__inner {
  padding: 20px 24px;
}

.projects__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  left: 0;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0%);
}

.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}

.projects__link {
  text-decoration: none;
  display: block;
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .projects__item:nth-child(2n) {
    margin-right: 0;
  }
  .projects__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */