.contacts-nav__link,
.contacts-foot__link {
  color: $main-color;
}

.contacts-nav {
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 21px 0;
      text-align: left;
    }

  &__link {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;   

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;
    }
  }

  &__item:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0 0 10px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  &__link:hover &__icon {
  fill: $accent-color;
  }

  &__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill $t-duration $t-t-function;
  }
}

.contacts-foot {
  padding-top: 9px;

  & li:first-child {
    margin-bottom: 9px;
  }
}

