.join-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $bg-color;
  }
}

