html {
  box-sizing: border-box;
}



body.modal-open {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.page {
  margin: 0;
  border: 0;
  background-color: $bg-color;
  font-family: $font-primary;
  color: $main-color;
}

body {
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: $title-color;
  text-decoration: none;
  transition: color $t-duration $t-t-function;
}

 .link:hover, .link:focus { 
  color: $accent-color;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

