.customers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers {
    display: flex;
    flex-wrap: wrap;

  &__link {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition: border $t-duration $t-t-function;
  }

  &__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
}

&__item:nth-last-child(2n+1) {
    margin-right: 0;
}

  &__icon {
    fill: $icon-color;
    transition: fill $t-duration $t-t-function;
  }

  &__link:hover &__icon {
    fill: $accent-color;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid #2196f3;
  }
}

