.customers-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers {
    display: flex;
    flex-wrap: wrap;

  &__link {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition: border $t-duration $t-t-function;
  }

  &__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }

  &__item:nth-last-child(2n+1) {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers__item {
      width: calc((100% - 30px * 2) / 3);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &__item:nth-child(3),
    &__item:nth-child(6){
      margin-right: 0;
    }

    &__item:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }

   @media screen and (min-width: 1200px) {
    .customers__item {
      width: calc((100% - 30px * 5) / 6);      
      margin-bottom: 0;
    }

    .customers__item:not(:last-child) {
      margin-right: 30px;
    }
   }

  &__icon {
    fill: $icon-color;
    transition: fill $t-duration $t-t-function;
  }

  &__link:hover &__icon {
    fill: $accent-color;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid #2196f3;
  }
}

