.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-foot-color;
}

.section-footer {
  text-align: center;
}

.address {
  margin-bottom: 60px;
}

.footer address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $bg-color;
}





