header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  @media screen and (max-width: 1199px) {
    width: 100%;
  }
}

.site-nav, .contacts-nav {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }

}

.site-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $title-color;

  &__link {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;

    @media screen and (min-width: 768px)  {
      margin-bottom: 0;
      margin-right: 50px;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      margin-bottom: 0;
    }   
  }


  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 88px;
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 0;
    margin-left: 93px;
    font-size: 14px;
  }
}

.contacts-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
     font-size: 12px; 
    }
   @media screen and (min-width: 1200px) {
     font-size: 14px;
   }  
} 


.site-nav__link.current {
  color: $accent-color;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-phone {
  width: 10px;
  height: 16px;
}

.nav-section {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}