.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity $t-duration $t-t-function 250ms;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 450px;
  min-height: 609px;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: $bg-color;
  transform-origin: left center;
  transform: scaleX(1);
  transition: transform $t-duration $t-t-function;

  .is-hidden & {
    transform: scaleX(0);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 450px;
  min-height: 609px;

  padding: 40px;
  z-index: 5;
  transform: translate(-50%, -50%);
  transition: all $t-duration $t-t-function 250ms;

  background: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .is-hidden & {
    transform: translate(-50%, -200%);
  }

  &__btn {
    position: absolute;
    top: 8px; 
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: $bg-color;

    &:hover, &:focus {
      fill: $accent-color;
      transition: all $t-duration $t-t-function;
    }
  }
}